* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    outline: none;
    background: none;
    color: inherit;
    list-style-type: none;
}

img {
    display: block;
    width: 650px;
}

html, body {
    height: 100%;
}

body {
    background-color: #282828;
    color: #dddddd;
    font-family: system-ui;
    font-size: 26px;
    font-weight: 250;
    line-height: 1;
    padding-top: 200px;
    
}

body > * {
    margin-left: auto;
    margin-right: auto;
}

div {
    --outer-radius: 12px;
    --padding: 5px;
    --inner-radius: calc(var(--outer-radius) - var(--padding));

    width: 550px;
    background-color: #2b2b2b;
    border: 1px solid #5a5a5a;
    border-radius: var(--outer-radius);
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2), 0 0 0 1px black;
    margin-top: 100px;
}

div:focus {
    box-shadow: 0 19px 24px rgba(0, 0, 0, 0.3), 0 0 0 1px black;
}

input {
    width: 100%;
    padding: calc(var(--padding) + 10px) calc(var(--padding) + 32px);
}

ol {
    border-top: 1px solid #5a5a5a;
    padding: var(--padding);
}

li {
    padding: 8px 32px;
    border-radius: var(--inner-radius);
}

li:hover {
    background-color: #5a5a5a;
}
